<ion-header>
  <ion-toolbar color="warning">
    <ion-title>bloodShot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
 
  <ion-card color="warning">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/lyUVdZtGVA8tmIDAlNaMRyS7fDf.jpg">
    </ion-card-header>
    <ion-item color="dark">
      <h1>Bloodshot<span> (2020)</span></h1>
    </ion-item>
    <ion-item color="warning">
      <div class="info ion-text-center">
        <span class="tipo" color="light" >14</span>
       
        <p>Ação, Ficção científica - 1h 49m
        </p>
        <ion-button color="danger" size="small">ASSISTIR</ion-button>
        <ion-button fill="outline" color="dark" size="small">TRAILER</ion-button>
       
          <ion-item color="waernig">
            <ion-range min="50" max="50" step="2">
              <ion-icon slot="start" name="sad-outline"></ion-icon>
              <ion-icon slot="end" name="happy-outline"></ion-icon>
            </ion-range>
          </ion-item>
      
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Bloodshot é um ex-soldado com poderes especiais: o de regeneração e a capacidade de se metamorfosear. 
          Assassinado ao lado da esposa, ele é ressuscitado e aprimorado com nanotecnologia, desenvolvendo tais habilidades.
          Ao apagarem sua memória várias vezes, ele finalmente descobre quem realmente é e parte em um busca de vingança 
          daqueles que mataram sua família.</p>
      </div>
    </ion-item>

    <ion-grid color="warning">
      <h1>Atores</h1>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/7rwSXluNWZAluYMOEWBxkPmckES.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Vin Diesel</h5> 
            <p>Bloodshot</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/2EpyDXqw1oyJnKayu2XshczjiBN.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Eiza González</h5> 
            <p>KT</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/v6wWNnDdTr2Ern93ljCkM6uEyUB.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Sam Heughan</h5> 
            <p>Jimmy Dalton</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/mlYytYJvoEHmhDH2enLtES1098Q.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Toby Kebbell</h5> 
            <p>Martin Axe</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/6EtG9vwttacIeSJYss5aUabVikQ.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Talulah Riley</h5> 
            <p>Gina Garrison</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <a routerLink="/blood-shot" fill="outline" color="dark" size="small">Mostrar Mais</a>
      </ion-list>
    </ion-grid>

  </ion-card>

</ion-content>