h1{
    font-weight: bolder;
    

    span{
        font-size: 14px;
    }
}

h2{

    font-weight: bolder;

}

h5{

    font-weight: bolder;
    margin: 5;


}

p{

    padding: 0;
    margin: 0;
    margin-top: 10px;

}

.info{
    width: 100%;
    margin: 10px;
    padding: 0;

    .tipo {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
        font-size: 12px;
        font-weight: lighter;
    }

    .duracao {
        margin-left: 15px;
    }

    p{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
}
