<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>The 100</h2>
      <p>2014 &nbsp;&nbsp; 14 &nbsp;&nbsp; 7 Temporadas</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
      <ion-button fill="outline" color="light" size="small">EPISÓDIOS</ion-button>

    </div>
  </div>

  <ion-grid>
    <h1>Populares</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/8WUVHemHFH2ZIP6NWkwlHWsyrEL.jpg" alt="">
      </ion-col>
    </ion-row>

    <h1>Em cartaz</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/niyXFhGIk4W2WTcX2Eod8vx2Mfe.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wxPhn4ef1EAo5njxwBkAEVrlJJG.jpg">
      </ion-col>
    </ion-row>

    <h1>Próximas estreias</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/vzIhsSq3WGtNcTIBUkQL2SflTaF.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/v9wenXvoCF1LC5efdsJQOrBQQqU.jpg">
      </ion-col>
    </ion-row>

    <h1>Mais bem avaliados</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/2CAL2433ZeIihfX1Hb2139CX0pW.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg">
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
