<ion-header>
  <ion-toolbar color="warning">
    <ion-title>elite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
 
  <ion-card color="warning">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/xcZfdO0x7sMLDUFV0qJOHxMJj45.jpg">
    </ion-card-header>
    <ion-item color="dark">
      <h1>Elite<span> (2018)</span></h1>
    </ion-item>
    <ion-item color="warning">
      <div class="info ion-text-center">
        <span class="tipo" color="light" >18</span>
       
        <p>Crime, Mistério, Drama - 50m
        </p>
        <ion-button color="danger" size="small">ASSISTIR</ion-button>
        <ion-button fill="outline" color="dark" size="small">EPISÓDIOS</ion-button>
       
          <ion-item color="waernig">
            <ion-range min="50" max="50" step="2">
              <ion-icon slot="start" name="sad-outline"></ion-icon>
              <ion-icon slot="end" name="happy-outline"></ion-icon>
            </ion-range>
          </ion-item>
      
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Após três jovens da escola pública serem transferidos para 
          um conceituado colégio de elite, 
          o conflito entre classes acaba levando a um assassinato.</p>
      </div>
    </ion-item>

    <ion-grid color="warning">
      <h1>Atores</h1>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/rGbPPB3zSYkMfomdKpYJ8aI8MMy.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Itzan Escamilla</h5> 
            <p>Samuel García</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/qImBg8eRtM7gH85wBCm9X3OcRfj.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Mina El Hammani</h5> 
            <p>Nadia Shana</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/hCbXPMVo0x0ZKGNyelvOvqKYCsL.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Ester Expósito</h5> 
            <p>Carla</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/t0yyHTtVklX4lUo39QMRqygLWYq.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Miguel Bernardeau</h5> 
            <p>Guzmán</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/25Go1ewNr64ZJh54kofyp6tLNKw.jpg">
          </ion-thumbnail>
          <ion-label>
            <h5>Danna Paola</h5> 
            <p>Lucrecia</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
    <a routerLink="/elite" fill="outline" color="dark" size="small">Mostrar Mais</a>
    </ion-list>
    </ion-grid>

  </ion-card>

</ion-content>
